{% extends 'website/header.html' %}

{% block title %}{{ account.username }}{% endblock %}

{% block body %}

<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <img src="{{ account.photo.url }}" class="img-responsive">
    <h1>{{ account.username }}<a href="#"><button type="button" name="button" class="btn btn-primary" style="margin-left: 10px; margin-bottom: 5px">Edit Profile</button></a></h1>
    <h6>Last Login: {{ account.last_login }}</h6>
    {% if error_message %}
      <p>{{ error_message }}</p>
    {% endif %}
  </div>
  <div class="col-xs-8 col-xs-offset-2">
    <h3>Recent Uploads</h3>
    <div class="row">
      <div class="col-xs-6">
        {% if all_photos %}
          {% for photo in all_photos %}
            <div class="col-xs-6">
              <a href="/publicphotos/{{ photo.id }}">
                <img src="{{ photo.photo.url }}" class="img-responsive">
              </a>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
