{% extends 'website/header.html' %}
{% block body %}
<h2>Photos</h2>
  <div class="row">
    {% if all_photos %}
      {% for photo in all_photos %}
        <div class="col-xs-3">
          <div class="thumbnail">
            <a href="/photo/{{ photo.id }}">
              <img src="{{ photo.photo.url }}" class="img-responsive" style="height: 250px; width: 250px">
            </a>
            <a href="/photo/{{ photo.id }}">
              <h3>{{ photo.title }}</h3>
            </a>
            <h6>{{ photo.date }}</h6>
          </div>
        </div>
    {% endfor %}
    {% else %}
      <h5>No News</h5>
    {% endif %}
  </div>
{% endblock %}
